.product-container {
  display: flex;
  justify-content: center;
}

.product-card {
  margin-left: 40px;
}
.product-grid {
  display: flex;
  margin-left: -15px;
  width: auto;
}

.product-grid-column {
  padding-left: 15px;
  background-clip: padding-box;
}

/* Thay thế product-card bằng NextCard từ thư viện @nextui-org/react */
.next-card {
  width: 100%;
  margin-bottom: 100px;
  transition: box-shadow 0.3s ease;
}

.next-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Thay thế product-card-image và img bằng NextImage từ thư viện @nextui-org/react */
.next-image {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
}

.next-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Thay thế .content bằng .card-content */
.card-content {
  padding: 20px;
}

/* Thay thế .header bằng h4 */
.card-content h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Thay thế .description bằng p */
.card-content p {
  color: #888;
}

@media (max-width: 991px) {
  .product-grid {
      margin-left: 0;
  }

  .product-grid-column {
      padding-left: 0;
  }

  /* Thay thế product-card bằng NextCard từ thư viện @nextui-org/react */
  .next-card {
      width: 100%;
      
    
  }
  }